*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt


# Pydev/Eclipse files
.project
.pydevproject
.settings

# PyCharm files
/.idea
*.cover


# Created by editiors
*~
\#*
\.\#*
*.swp